@charset "UTF-8";

/* ベースのスタイル
------------------------------------------ */

html {
    /* 1rem=10px */
    font-size: 62.5%;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        /* ブラウザだけど画面が小さい時 */
        font-size: 1vw;
    }
}

@media screen and (max-width: 767px) {
    html {
        /* スマホ版は画面幅が変わっても比率を変えない */
        font-size: calc(10 * 100vw /375);
    }
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #333;
}

img {
    /* 画面幅を変更した際に画像が伸縮する設定
    原寸サイズ以上で表示したい場合は、width: 100%;にする。画像がぼやけるので注意 */
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover, button:hover {
    opacity: 0.5;
}

/* 部品
------------------------------------- */

.contents-width {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

@media (min-width: 768px) {
    .no-pc {
        display: none;
    }
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: calc(28/36);
    text-align: center;
}

.section-title__highlight—pink {
    font-family: Poppins, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: calc(40/36);
    color: #F11F8D;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 3.6rem;
        line-height: calc(36/36);
    }

    .section-title__highlight—pink {
        font-size: 5.4rem;
        line-height: calc(54/36);
    }
}

/* ヘッダー
------------------------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 7rem;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.main,
.footer {
    z-index: 1;
}

@media (min-width: 768px) {
    .header {
        height: 10.1rem;
    }
}

.header-logo {
    padding-left: 1.6rem;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: calc(33/22);
}

.header-logo a {
    color: #005BAC;
}

@media (min-width: 768px) {
    .header-logo {
        padding-left: 2rem;
        font-size: 3.2rem;
        line-height: calc(36/32);
    }
}


.header .contents-width {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* ハンバーガーアイコンの設置スペース */
.hamburger-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 100%;
    cursor: pointer;
    background-color: #005BAC;
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}

/* ナビゲーション */
@media (max-width: 767px) {
    nav.hamburger-menu {
        position: fixed;
        top: 7rem;
        left: 100%;
        visibility: hidden;
        width: 100%;
        padding-bottom: 3.2rem;
        background-color: #005BAC;
        opacity: 0;
        transition: all 0.6s;
    }
}

@media (min-width: 768px) {
    nav.hamburger-menu {
        display: flex;
        visibility: visible;
        column-gap: 5rem;
    }
}

/* アクティブ状態 */
nav.hamburger-menu-active {
    left: 0;
    visibility: visible;
    opacity: 1;
}

ul.hamburger-menu-list-group {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    margin: 2.5rem 2rem 3.2rem;
}


@media (min-width: 768px) {
    ul.hamburger-menu-list-group {
        flex-direction: row;
        column-gap: 5rem;
        justify-content: space-between;
        padding-top: 0;
        margin: auto;
    }
}

ul.hamburger-menu-list-group li {
    position: relative;
    padding-bottom: 2.1rem;
    padding-left: 2.7rem;
    font-size: 1.8rem;
    color: #fff;
}

ul.hamburger-menu-list-group li::before {
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    content: '';
    background: url('/assets/image/arrow-right.svg') no-repeat center;
    background-size: contain;
}


@media (max-width: 767px) {
    ul.hamburger-menu-list-group li::after {
        position: absolute;
        top: 4.2rem;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        background-color: #fff;
    }
}

@media (min-width: 768px) {
    ul.hamburger-menu-list-group li {
        font-size: 2rem;
    }
}

ul.hamburger-menu-list-group li a {
    color: #fff;
}

@media (min-width: 768px) {
    ul.hamburger-menu-list-group li a {
        color: #333;
    }
}

.header .header-entry-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 6.6rem;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(26/18);
    color: #005BAC;
    background-color: #fff;
    border-radius: 3.3rem;
}

@media (min-width: 768px) {
    .header .header-entry-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28.2rem;
        height: 6.1rem;
        margin: 0 auto;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: calc(26/18);
        color: #fff;
        background: linear-gradient(90deg, #0271E0, #53A2F0);
        border-radius: 3.3rem;
    }
}

/* トップ
------------------------- */
.top {
    position: relative;
    margin-top: 7rem;
    overflow: hidden;
}

@media (min-width: 768px) {
    .top {
        padding-bottom: 10.1rem;
        margin-top: 10.1rem;
    }
}

.top .main-visual {
    position: relative;
    height: 25rem;
}

.top .main-visual::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100%;
    content: "";
    background-image: url("/assets/image/main_visual.jpg");
    background-repeat: no-repeat;
    background-position: -1.6rem -7rem;
    background-size: 153%;
}

@media (min-width: 768px) {
    .top .main-visual {
        height: 65.1rem;
    }

    .top .main-visual::before {
        right: 0;
        width: 76%;
        background-position: 1.5rem;
        background-size: cover;
    }
}

.top .top-title-block {
    padding-top: 3.5rem;
    padding-left: 1.6rem;
}

@media (min-width: 768px) {
    .top .top-title-block {
        padding-top: 10.4rem;
        padding-left: 5rem;
    }
}

.top .top-title-block__emblem img {
    width: 2.407rem;
    height: auto;
}

@media (min-width: 768px) {
    .top .top-title-block__emblem img {
        width: 5.26rem;
    }
}

.top .top-title-block__emblem p:nth-of-type(1) {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: calc(17/11);
}

.top .top-title-block__emblem p:nth-of-type(2) {
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: calc(35/25);
    color: #F11F8D;
    text-align: center;
}

.top .top-title-block__emblem p:nth-of-type(2) em {
    font-size: 3.6rem;
}

@media (min-width: 768px) {
    .top .top-title-block__emblem-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;
    }

    .top .top-title-block__emblem p:nth-of-type(1) {
        font-size: 2.0rem;
        line-height: calc(29/20);
    }

    .top .top-title-block__emblem p:nth-of-type(2) {
        padding-left: 1.1rem;
        font-size: 5.4rem;
        line-height: calc(81/54);
    }

    .top .top-title-block__emblem p:nth-of-type(2) em {
        font-size: 7.4rem;
        line-height: calc(74/111);
    }
}


.top .top-title-block h2 {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .top .top-title-block h2 {
        margin-top: 3.1rem;
    }
}

.top .top-title-block__label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: calc(20/14);
}

.top .top-title-block__main {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: calc(36/25);
    color: #005BAC;
}

@media (min-width: 768px) {
    .top .top-title-block__label {
        font-size: 3.3rem;
        line-height: calc(56 / 33);
    }

    .top .top-title-block__main {
        font-size: 6.0rem;
        line-height: calc(85/60);
    }
}

.top-button-area {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    align-items: center;
    margin: 2.4rem auto;
}

@media (min-width: 768px) {
    .top-button-area {
        display: flex;
        padding: 0 1rem;
        position: absolute;
        top: 59rem;
        right: 0;
        left: 0;
        flex-direction: row;
        justify-content: space-between;
        max-width: 112rem;
    }
}

.top-button-area button {
    width: 25rem;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: calc(36/16);
    color: #fff;
    border-radius: 2.5rem;
}

@media (min-width: 768px) {
    .top-button-area button {
        width: 31%;
        height: 7.5rem;
        font-size: 2.4rem;
        line-height: calc(36/24);
        border-radius: 3.8rem;
    }
}

.top-button-area button:nth-child(1) {
    background-color: #77CB33;
}

.top-button-area button:nth-child(2) {
    background-color: #F6AA00;
}

.top-button-area button:nth-child(3) {
    background-color: #3AC8AD;
}


/* 選ばれる理由
------------------------- */
.reason {
    margin-top: .6rem;
}

ul.reason-list-group {
    margin: 2.3rem 1.6rem 3.5rem;
}

@media(min-width: 768px) {
    ul.reason-list-group {
        margin: 2.3rem 2rem 3.5rem;
    }
}

ul.reason-list-group li {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
}

@media(min-width: 768px) {
    ul.reason-list-group li {
        flex-direction: row;
        column-gap: 4rem;
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    ul.reason-list-group li:nth-child(even) {
        flex-direction: row-reverse;
    }
}

ul.reason-list-group figure {
    width: 100%;
    height: 22rem;
    overflow: hidden;
    border-radius: 1.2rem;
}

@media(min-width: 768px) {
    ul.reason-list-group figure {
        width: 58.0rem;
        height: 35.2rem;
        border-radius: 1.2rem;
    }

}

ul.reason-list-group figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.reason-list-group li h3 span.reason-list-point::before {
    font-family: Poppins, sans-serif;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 700;
    line-height: calc(36/24);
    color: #F11F8D;
    content: 'Point ';
}

@media(min-width: 768px) {
    ul.reason-list-group li h3 span.reason-list-point::before {
        font-size: 2.8rem;
        line-height: calc(36/28);
    }
}

@media(min-width: 768px) {
    .reason-list-text {
        width: 50%;
    }
}

ul.reason-list-group li h3 span.reason-list-point {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    font-family: Poppins, sans-serif;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
    color: #F11F8D;
}

@media(min-width: 768px) {
    ul.reason-list-group li h3 span.reason-list-point {
        font-size: 4.2rem;
        line-height: calc(36/42);
    }
}

ul.reason-list-group li h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(28/20);
}

@media(min-width: 768px) {
    ul.reason-list-group li h3 {
        margin-bottom: 2rem;
        font-size: 2.4rem;
        line-height: calc(36/24);
    }
}

ul.reason-list-group li p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(28/16);
}



/*
------------------------- */

.entry {
    width: 100%;
    height: 21.3rem;
    padding: 3.8rem 1.6rem;
    background: rgb(255 85 85 / 10%);
}


@media (min-width: 768px) {
    .entry {
        height: 23.1rem;
        padding: 5.6rem 0;
    }
}

.entry p {
    padding-bottom: 1rem;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: calc(28/16);
    text-align: center;
}

@media (min-width: 768px) {
    .entry p {
        padding-bottom: 2rem;
        font-size: 1.6rem;
        line-height: calc(42/16);
    }
}

.entry button.entry-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30.4rem;
    height: 7rem;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(26/18);
    color: #fff;
    letter-spacing: 0.2rem;
    background: linear-gradient(90deg, #0271E0, #53A2F0);
    border-radius: 3.3rem
}

/* コース・目的
------------------------- */
.cource {
    padding-top: 7.4rem;
    padding-bottom: 6rem;
}

@media(min-width: 768px) {
    .cource {
        padding-top: 8.8rem;
        padding-bottom: 7rem;
    }
}

/* タブ */
.tab {
    padding-top: 3rem;
}

@media(min-width: 768px) {
    .tab {
        padding-top: 4rem;
    }
}

.st-theme-basic {
    border: none;
}

@media(min-width: 768px) {
    .st-theme-basic {
        max-width: 1160px;
        margin: 0 auto;
    }
}

/* タブナビゲーション */
.tab.st>.nav {
    flex-direction: row !important;
    column-gap: 1.5rem;
    padding: 0 1.6rem;
}


@media(min-width: 768px) {
    .tab.st>.nav {
        column-gap: 3.5rem;
        padding: 0;
    }
}

.tab.st-theme-basic>.nav {
    box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
    padding: 1.6rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(36 / 18);
    color: rgb(51 51 51 / 50%) !important;
    background-color: #F0F0F0;
    border-radius: 1.2rem 1.2rem 0 0;
}

@media(min-width: 768px) {
    .tab.st-theme-basic>.nav .nav-link {
        font-size: 2.4rem;
        line-height: calc(36 / 24);
        padding: 1.8rem 0;
    }
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
    color: rgb(51 51 51 / 100%) !important;
    background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
    background-color: unset !important;
}

.tab-content {
    text-align: center;
    background-color: #F2F9FF;
}

.tab.st-theme-basic>.tab-content>.tab-pane {
    padding: 2.8rem 1.6rem;
}

@media (min-width: 768px) {
    .tab.st-theme-basic>.tab-content>.tab-pane {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 0.4rem;
        column-gap: 3.1rem;
        padding: 3.2rem 3.3rem 0;
    }
}

.tab-pane img {
    width: 100%;
    height: 220px;
    border-radius: 1.2rem;
}

@media (min-width: 768px) {
    .tab-pane img {
        height: 329px;
    }
}

.tab-content-course-name {
    position: relative;
    padding-top: 1.1rem;
    padding-left: 2.2rem;
    margin-bottom: 1.1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    text-align: left;
}

.tab-content-course-name::before {
    position: absolute;
    top: 1.8rem;
    left: 0;
    width: 1.4rem;
    height: 1.2rem;
    content: '';
    background: url('/assets/image/arrow-right-blue.svg') no-repeat center;
    background-size: contain;
}

@media (min-width: 768px) {
    .tab-content-course-name {
        padding-top: 1.2rem;
        padding-left: 1.3em;
        font-size: 2.0rem;
        line-height: calc(36/20)
    }

    .tab-content-course-name::before {
        top: 2rem;
        left: 0;
        width: 1.6rem;
        height: 2rem;
    }
}

.course-tab-content-item {
    padding-bottom: 2.1rem;
}

@media (min-width: 768px) {
    .course-tab-content-item {
        width: 48.3%;
    }
}

/* 費用
------------------------- */

.plan {
    padding-top: 7.4rem;
    padding-bottom: 6.1rem;
}

@media (min-width: 768px) {
    .plan {
        padding-top: 7.9rem;
        padding-bottom: 3rem;
    }
}

.plan .contents-width {
    padding: 0 1.6rem;
}

.plan table {
    width: 100%;
    margin-top: 2.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(36/16);
    text-align: center;
    border-collapse: collapse;
    border: solid 3px #ccc;
}

@media (min-width: 768px) {
    .plan table {
        max-width: 60rem;
        margin: 4rem auto;
        font-size: 1.8rem;
        line-height: calc(36/18);
    }
}

.plan th, td {
    border: solid 1px #ccc;
}

.plan-table thead {
    height: 6.7rem;
    background-color: #f5f5f5;
}

.plan-table td {
    height: 6.4rem;
}

@media (min-width: 768px) {
    .plan-table thead {
        height: 7.5rem;
    }

    .plan-table tbody {
        height: 46.8rem;
    }
}

.plan-table .count {
    width: 34%;
}

@media (min-width: 768px) {
    .plan-table .count {
        width: 24%;
    }
}

.plan-table .fee {
    font-family: Poppins, sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: calc(36/28);
    color: #F11F8D;
}

.plan-table .fee::after {
    font-size: 1.6rem;
    color: #F11F8D;
    content: '円';
}

@media (min-width: 768px) {
    .plan-table .fee {
        font-size: 3.2rem;
        line-height: calc(36/32);
    }

    .plan-table .fee::after {
        font-size: 1.8rem;
        color: #F11F8D;
        content: '円';
    }
}

/* よくあるご質問、お近くの教室を探す
---------------------------------- */

.information {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .information {
        flex-direction: row;
    }
}

.information__faq,
.information__search {
    width: 100%;
}

.information__faq a.information_link-area,
.information__search a.information_link-area {
    position: relative;
    display: block;
    height: 17rem;
    background-size: cover;
}

@media (min-width: 768px) {

    .information__faq a.information_link-area,
    .information__search a.information_link-area {
        height: 32rem;
    }
}

.information__faq a.information_link-area {
    background-image: url(/assets/image/faq01.jpg);
}

.information__faq a.information_link-area::after {
    content: 'よくあるご質問';
}

.information__search a.information_link-area::after {
    content: 'お近くの教室を探す';
}

.information__faq a.information_link-area::after,
.information__search a.information_link-area::after {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 1.6rem;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(28/22);
    color: #fff;
    background-color: rgb(0 0 0 / 30%);
}

@media (min-width: 768px) {

    .information__faq a.information_link-area::after,
    .information__search a.information_link-area::after {
        font-size: 3.2rem;
        line-height: calc(36/32);
        justify-content: center;
        padding-left: 0;
        padding-right: 1rem;
    }

    .information__search a.information_link-area::after {
        padding-right: 4rem;
    }
}

.information__search a.information_link-area {
    background-image: url(/assets/image/faq02.jpg);
}


@media (min-width: 768px) {

    .information__faq,
    .information__search {
        width: 50%;
    }
}

/* フッター
---------------------------------- */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.3rem;
    padding-left: 1.6rem;
    font-family: Poppins, sans-serif;
    font-size: 1.3rem;
    line-height: calc(28/13);
    background-color: #ddd;
}

@media (min-width: 768px) {
    .footer {
        height: 12rem;
        padding-left: 0;
        padding-right: 3rem;
    }
}